<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <div class="main">
      <%- include('../partials/navbar.ejs') %>
      <h1>Event Details</h1>
    </div>
  </body>
</html>
