<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <div class="main">
      <%- include('../partials/navbar.ejs') %>
      <div class="heading-div">
        <h1 class="heading">Upcoming Events</h1>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
