<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Students Registered</h1>
  </body>
</html>
