<div class="navbar">
  <div class="nav-logo-div"><img src="/images/navbar-logo.png" /></div>
  <% if(!locals.user) { %>
  <div><a href="/">Home</a></div>
  <div>
    <div>02:59 PM</div>
  </div>
  <div><a href="/user/login">Login</a></div>
  <div><a href="/user/signup">Signup</a></div>
  <% } %> <% if(locals.user) { %>
  <div><a href="/events/discover">Discover</a></div>
  <% if(locals.user.role==='STUDENT') { %>
  <div><a href="/dashboard">Dashboard</a></div>
  <% } %> <% if(locals.user.role==='ADMIN') { %>
  <div><a href="/events/history">History</a></div>
  <div><a href="/admin/create-event">Create Event</a></div>
  <% } %>
  <div><a href="/user/logout">Logout</a></div>
  <% } %>
</div>
