<div class="navbar">
  <a href="/">Home</a>
  <a href="/user/login">Login</a>
  <a href="/user/signup">Signup</a>
  <a href="/events/discover">Discover Events</a>
  <a href="/events/history">Past Events</a>
  <a href="/events/:id">Event</a>
  <a href="/dashboard">Dashboard/registered</a>
  <a href="/dashboard/cancelled">Dashboard/cancelled</a>
  <a href="/admin/create-event">createEvent</a>
  <a href="/admin/edit-event/:id">editEvent</a>
  <a href="/user/logout">Logout</a>
</div>
