* {
  margin: 0;
  /* border: 0; */
  box-sizing: border-box;
}

body {
  background: url("/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: start;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.nav-logo-div {
  width: clamp(50px, 100vw + 1rem, 80px);
}

.nav-logo-div img {
  width: 100%;
}

.main {
  width: 100%;
  max-width: 800px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-inline: auto;
}
